.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.workout-list {
    width: 80%;
    margin: auto;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-container {
    overflow-x: auto;
}

.workout-table {
    width: 100%;
    border-collapse: collapse;
}

.workout-table th,
.workout-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.workout-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}


button {
    padding: 5px 10px;
    cursor: pointer;
}